<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Welcome! </title>
</head>
<body>
     <h1>Welcome to Primo's Website</h1>
     <p>
        This is the website showcasing Primo and his quirky antics.
        A special trailer about this website can be seen on <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Primo Trailer
        </a>
     </p>
    <br>
     <p>
        {{norem}}
     </p>
     <p>
        Currently Primo is in this event: {{curr_event}}<br>
     </p>
</body>
</html>