{% extends "base.html" %}
{%load static%}

        {% block title %} {{title}} {% endblock %}

        {% block content%}
                <h1>{{cosplay.title}}</h1>
                <p>
                        Currently Primo is in this event: {{cosplay.event}}<br>
                        {{cosplay.character}}
                        <br>
                        {{cosplay.no_images.name}}
                        <br>
                        <img src = '/static/cosplay/{{cosplay.no_images.name}}' width="500px">
                </p>

                <a href="{% url 'welcome' %}">Homepage</a>
        {% endblock %}